In [1]:
print('안녕하세요')
print(100)

안녕하세요
100

In [2]:
# 주석 => 코드 내부에 사용, 코드로 인식 X, 간단한 메모
# 변수 => 데이터를 저장(메모리: 플레시메모리)하는 방식
# 변수이름(식별자) = 값(데이터: 숫자, 문자열, 논리값(True,False), 객체)
# 변수에는 데이터를 저장하고 있는 메모리의 주소값을 저장
num = 10

In [3]:
print(num)

10

In [4]:
id(num)

140717942328024

In [5]:
num+100

110

In [6]:
# 변수 = 데이터
# 데이터 => 숫자, 문자, 논리값
# 숫자 => 정수, 실수
num1 = 10
num2 = 3.14

In [7]:
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [8]:
num3 = 'hello~'

In [9]:
print(num3)
print(type(num3))

hello~
<class 'str'>

In [10]:
# 논리값 : 참, 거짓 => True, False
check1 = True
check2 = False

In [11]:
print(check1, type(check1))
print(check2, type(check2))

True <class 'bool'>
False <class 'bool'>

In [12]:
str_a = 'python'

In [13]:
str_a.upper()
# 주소값.메서드()

'PYTHON'

In [14]:
print(type(str_a))

<class 'str'>

In [15]:
str_a = 100

In [16]:
print(str_a, type(str_a))

100 <class 'int'>

In [17]:
# 문자열 생성
# '', "", ''' ''', """ """
str_1 = 'hello~'
str_2 = "안녕하세요"
str_3 = '''첫째 라인
안녕하세요
반갑습니다.
'''
str_4 = """
select *
from emp
where empno=10
"""

In [18]:
print(str_1, type(str_1))
print(str_2, type(str_2))
print(str_3, type(str_3))
print(str_4, type(str_4))

hello~ <class 'str'>
안녕하세요 <class 'str'>
첫째 라인
안녕하세요
반갑습니다.
 <class 'str'>

select *
from emp
where empno=10
 <class 'str'>

In [19]:
# 문자열의 연산
# 사칙연산 X => 더하기(연결)
# 곱샘 * => 반복(몇번 반복)
print('hello'+' python!!')
print('='*10)

hello python!!
==========

In [20]:
# 함수(기능) : 데이터 전달하면 -> 처리(연산) -> 값을 반환
# 문자열의 길이 반환 함수 : len(변수:시퀀스형식의 데이터)
print(len(str_1))
print(len(str_2))

6
5

In [21]:
# 문자열 : 시퀀스 데이터 => 순서 O
# 시퀀스 데이터의 테이터들의 구분 => index값
# hello => ['h', 'e', 'l', 'l', 'o']
#   index => 0    1    2    3    4   => 0 ~ N-1 => 0~4
str_5 = 'hello~ python!!'
#        0123456789..

In [22]:
str_5[5]

'~'

In [23]:
# 문자열(시퀀스)의 슬라이싱
# s[시작 index : 종료 index]   => 종료 index값을 만나면 탈출
# str_5[0 : 5]
str_5[0 : 5]

'hello'

In [24]:
# 문자열 포맷팅
# 3.6 버전 이후 f""  , 접두사 f 붙이고 포맷팅
user_name = '손흥민'
user_age = 30
print(f'안녕하세요! 저는 {user_name}입니다. 나이는 {user_age} 입니다.')

안녕하세요! 저는 손흥민입니다. 나이는 30 입니다.

In [25]:
print(f'내년에는 나이가 {user_age+1}살이 됩니다.')

내년에는 나이가 31살이 됩니다.

In [26]:
# 복합 대입 연산
num = 1

In [27]:
num = num + 1

In [28]:
print(num)

2

In [29]:
num += 1  # num = num + 1

In [30]:
print(num)

3

### 연습문제 1
과목별 점수, 총점, 평균점수 출력
과목 : 국어, 영어, 수학

In [31]:
# 1. 변수 선언, 초기화
kor_score = 100     # 국어점수
eng_score = 70      # 영어점수
math_score = 80     # 수학점수

In [32]:
# 2. 연산 : 총점, 평균
sum_score = kor_score + eng_score + math_score
avg_score = sum_score / 3

In [33]:
# 3. 결과 출력
print(f'국어점수:{kor_score}, 영어점수:{eng_score}, 수학점수: {math_score} \n총점:{sum_score} \n평균점수:{avg_score}')

국어점수:100, 영어점수:70, 수학점수: 80
총점:250
평균점수:83.33333333333333

In [34]:
# 성별 체크, 나이 체크
# 성별이 남성이고(and), 성인 판별 (18살 이상)
# 1. 변수
gender = 'M'  # 셩별 : 'M' | 'F'
age = 20

In [35]:
# 2. 남성 그리고 성인
check = gender == 'M' and age >= 18

In [36]:
print('성인 남성 체크 :', check)

성인 남성 체크 : True

In [37]:
# 리스트 : [] =>  순서를 가지는 데이터 묶음
# index 값으로 요소들을 참조 => 0 ~ N(요소의 개수)-1
list_a = [1,2,3]
# index   0 1 2
# 요소의 개수 : 3

In [38]:
print(list_a, type(list_a))

[1, 2, 3] <class 'list'>

In [39]:
# bool(), int(), float(), str(), list()

In [40]:
# 요소의 참조 : 변수처럼 사용
list_a[2]

3

In [41]:
list_a[0] + list_a[1]  # 1 + 2

3

In [42]:
list_a[2] = 4

In [43]:
list_a

[1, 2, 4]

In [44]:
list_a[-2]

2

In [45]:
list_a[ len(list_a)-1 ]  # N-1

4

In [46]:
list_b = [ 1, 2, 3, ['a', 'b', 'c']]
#          0  1  2         3
#         [int, int, int, list]

In [47]:
len(list_b)

4

In [48]:
print(list_b[0])
print(list_b[1])
print(list_b[2])
print(list_b[3])  # list
print(list_b[3][0], list_b[3][1], list_b[3][2])
#     list를 가릐는 주소값[index]

1
2
3
['a', 'b', 'c']
a b c

In [49]:
# 슬라이싱
list_c = [1, 2, 3, 4, 5]
#         0  1  2  3  4

In [50]:
list_c[1:4]
list_c[:4]  #  list_c[0:4]
list_c[1:]  # list_c[1:5]
list_c[:]
list_c

[1, 2, 3, 4, 5]

In [51]:
# list의 연산 :  + , * 
list_d = [100, 200, 300]

In [52]:
list_c
list_d
list_c + list_d # 새로운 리스트 생성
list_d + list_c # 새로운 리스트 생성
list_c
list_d

[100, 200, 300]

In [53]:
# * : 리스트의 요소를 n번 반복해서 저장 -> 새로운 리스트
list_d * 3

[100, 200, 300, 100, 200, 300, 100, 200, 300]

In [54]:
# 리스트에 요소(데이터) 추가 : 순서 => 마지막 인덱스 다음에 데이터 추가 
# append() : 메서드 => 리스트의 마지막에 데이터 추가 
list_a = [1, 2, 3]

In [55]:
list_a.append(500)
# 객체(list)

In [56]:
# pop : 마지막 요소 축출 -> 삭제, 값을 반환
# list_a.pop()
list_a.pop(0)

1

In [57]:
list_a

[2, 3, 500]

In [58]:
list_a = [1, 4, 9, 2, 10]

In [59]:
list_a.sort()

In [60]:
list_a

[1, 2, 4, 9, 10]

In [61]:
list_a.reverse()
list_a

[10, 9, 4, 2, 1]

In [62]:
list_a.index(4)

2

In [63]:
list_a.insert(1, 100)

In [64]:
list_a

[10, 100, 9, 4, 2, 1]

In [65]:
list_a.extend(list_d)

In [66]:
list_a

[10, 100, 9, 4, 2, 1, 100, 200, 300]

In [67]:
# tuple : list와 동일, 
# 단 요소(데이터) 변경은 불가능 -> 데이터 안전하게 유지
t_1 = ()
print(type(t_1))

<class 'tuple'>

In [68]:
t_2 = (1,2,3,4)
t_3 = 10,20,30,40

In [69]:
type(t_3)

tuple

In [70]:
t_3[0]

10

In [71]:
t_2[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
del t_2[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
t_3[1:3]

(20, 30)

In [ ]:
a, b, c = 1000, 2000, 3000  # 특정함수에서 반환 데이터 tuple 타입

In [ ]:
print(a, b, c)

1000 2000 3000

In [ ]:
t_2+t_3

(1, 2, 3, 4, 10, 20, 30, 40)

In [ ]:
t_2*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
# 딕셔너리 : key : value => key 값으로 데이터를 참조
# { key1:value1, key2:value2, .... }
dict_1 = {}
print(type(dict_1))
print(dict_1)

<class 'dict'>
{}

In [ ]:
dict_2 = {1 : 'a'}
print(dict_2)
print(type(dict_2))

{1: 'a'}
<class 'dict'>

In [ ]:
# 요소값 추가 => key 정의, 값 정의
dict_2[2] = 'b'
dict_2

{1: 'a', 2: 'b'}

In [ ]:
dict_2[2]

'b'

In [ ]:
dict_2[3] = (1,2,3)

In [ ]:
del dict_2[3]

In [ ]:
dict_2

{1: 'a', 2: 'b'}

In [ ]:
# 학생 : 학번, 이름, 학년, 학과 => 데이터의 구조화화
student_1 = {
    's_no': 1111,
    's_name': 'KING',
    'grade': 4,
    'major': 'COM'
}

In [ ]:
student_1['grade']

4

In [ ]:
player = {
    'team': 'TO',
    'name': 'SON',
    'number': 7
}

In [ ]:
player.keys()

dict_keys(['team', 'name', 'number'])

In [ ]:
list(player.keys())

['team', 'name', 'number']

In [ ]:
player.values()

dict_values(['TO', 'SON', 7])

In [ ]:
list(player.values())

['TO', 'SON', 7]

In [ ]:
'age' in player

False

In [ ]:
player.items()

dict_items([('team', 'TO'), ('name', 'SON'), ('number', 7)])

In [ ]:
list_temp = list(player.items())

In [ ]:
list_temp

[('team', 'TO'), ('name', 'SON'), ('number', 7)]

In [ ]:
player['name']

'SON'

In [ ]:
player['pos']

KeyError: 'pos'

In [ ]:
player.get('name')

'SON'

In [ ]:
pos = player.get('pos')

In [ ]:
print(pos)

None

In [ ]:
pos1 = player.get('pos', 'no pos')

In [ ]:
print(pos1)

no pos

In [ ]:
# set : 집합 => 중복 X, 순서 X, 집합 연산 사용
s_1 = set([1,2,3,4,1,2,5])
s_1

{1, 2, 3, 4, 5}

In [ ]:
set_2 = set('hello')
set_2

{'e', 'h', 'l', 'o'}

In [ ]:
list_1 = list(s_1)
print(list_1)

[1, 2, 3, 4, 5]

In [ ]:
set_2 = set([1,2,3,4,5,6])
set_3 = set([4,5,6,7,8,9])

In [ ]:
print(set_2 & set_3)
print(set_2 | set_3)
print(set_2 - set_3)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [ ]:
# set 에서 데이터 추가(중복 데이터 입력 X) 삭제
set_2.add(3)

In [ ]:
set_2

{1, 2, 3, 4, 5, 6}

In [ ]:
set_2.remove(7)

In [ ]:
set_2.update([1,1,3,4,7,8])

In [ ]:
set_2

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# if : 분기 => ~ 라면, 아니라면
# 성인이라면, 상인이 아니라면
age = 25

# 성인이라면-> 환영 메시지, 미성년 -> 킥~
if age>=18 :
    print('환영합니다~~~')
    print('게임을 시작하세요!')
else :
    print('킥~~~')

환영합니다~~~
게임을 시작하세요!

In [ ]:
# 홀수 짝수 판단 => 숫자%2 : 1->홀수, 0->짝수
num = 9

if num%2 == 0 :
    print('짝수')
else :
    print('홀수')

홀수

In [ ]:
# 양수 +, => num1 > 0
# 음수 -, => num1 < 0
# 0 => num == 0 => num1이 0보다 작지도 않고 크지도 않다

num1 = 0
if num1 > 0 :
    print('양수')
else :
    if num1 < 0 :
        print('음수')
    else :
        print(0)

0

In [ ]:
if num1 > 0 :
    print('양수')
elif num1 < 0 :
    print('음수')
else :
    print(0)

0

In [ ]:
# 운전면허 시험
score = 79
check_msg = 'PASS' if score >= 80 else 'FAIL'
print(check_msg)

FAIL

In [ ]:
check_msg = 'PASS'
if score < 80 :
    check_msg = 'FAIL'

print(check_msg)

FAIL

In [ ]:
# 표준 출력 함수 => print()
# 표준 입력 함수 => input()
user_age = input('나이를 입력하세요!')
print(user_age, type(user_age), 2025-int(user_age))

50 <class 'str'> 1975

In [ ]:
age

25

In [ ]:
if age < 15 or age >= 65 :
    print('접종 대상자')
else :
    print('접종 대상자 아님')

접종 대상자 아님

In [ ]:
medical_msg = '대상자 아님'

if age < 15 or age >= 65:
    medical_msg = '대상자'

print(medical_msg)

대상자 아님

In [ ]:
medical_msg = '대상자' if age < 15 or age >= 65 else '대상자 아님'
print(medical_msg)

대상자 아님

In [ ]:
# 반복문 : while condition(True/False) :
# 조건식을 통해서 반복 -> 탈출이 가능해야한다!
cnt = 0

while cnt < 5 :
    cnt = cnt + 1
    print(cnt)

1
2
3
4
5

In [ ]:
# 1~10 까지 출력, 홀수만 출력
cnt = 0
while cnt < 10 :
    cnt += 1  # cnt = cnt + 1
    if cnt%2 == 1 :
        print(cnt)

1
3
5
7
9

In [ ]:
cnt = 0
while cnt < 10 :
    cnt += 1
    if cnt%2 == 0:
        continue
    print(cnt)

1
3
5
7
9

In [ ]:
list_a = [1,2,3,4,5,100, 200, 300]

In [ ]:
for i in list_a:
    print(i)

1
2
3
4
5
100
200
300

In [ ]:
list_b = [(1,2), (3,4), (5,6)]

In [ ]:
for n1, n2 in list_b :
    print(n1, n2)

1 2
3 4
5 6

In [ ]:
# 5명의 학생이 영어 시험 => 60점 이상 pass 출력
# 5명의 영어점수 총점, 평균

scores = [80, 50, 70, 100, 55]
num = 0     # 학생 리스트의 일련번호
sum = 0     # 총점

for score in scores :
    # 학생의 점수를 비교해서 : pass, fail
    # 리스트의 일련번호 출력 : num = num + 1
    num = num + 1
    sum = sum + score
    if score >= 60 :
        print(num, score, 'PASS')
    else :
        print(num, score, 'Fail')

print('총점 :', sum)
print('평균 :', sum/len(scores))

1 80 PASS
2 50 Fail
3 70 PASS
4 100 PASS
5 55 Fail
총점 : 355
평균 : 71.0

In [ ]:
# range 함수 : 일련 번호 생성
nums_1 = range(10) # 0 ~ 10-1

In [ ]:
for num in nums_1:
    print(num, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [ ]:
for num in range(3, 8) :  # 3, 4, 5, 6, 7
    print(num, end=' ')

3 4 5 6 7

In [ ]:
for num in range(2, 11, 2) :
    print(num , end=' ')

2 4 6 8 10

In [ ]:
# 구구단 : 2~9단  => 2~9
# 각 단 : X 1 ~ X 9 => 1~9
for dan in range(2, 10):
    print(f'{dan} 단')
    for i in range(1, 10):
        print(f'{dan}X{i}={dan*i}', end=' ')
    print()

2 단
2X1=2 2X2=4 2X3=6 2X4=8 2X5=10 2X6=12 2X7=14 2X8=16 2X9=18
3 단
3X1=3 3X2=6 3X3=9 3X4=12 3X5=15 3X6=18 3X7=21 3X8=24 3X9=27
4 단
4X1=4 4X2=8 4X3=12 4X4=16 4X5=20 4X6=24 4X7=28 4X8=32 4X9=36
5 단
5X1=5 5X2=10 5X3=15 5X4=20 5X5=25 5X6=30 5X7=35 5X8=40 5X9=45
6 단
6X1=6 6X2=12 6X3=18 6X4=24 6X5=30 6X6=36 6X7=42 6X8=48 6X9=54
7 단
7X1=7 7X2=14 7X3=21 7X4=28 7X5=35 7X6=42 7X7=49 7X8=56 7X9=63
8 단
8X1=8 8X2=16 8X3=24 8X4=32 8X5=40 8X6=48 8X7=56 8X8=64 8X9=72
9 단
9X1=9 9X2=18 9X3=27 9X4=36 9X5=45 9X6=54 9X7=63 9X8=72 9X9=81

In [ ]:
# 리스트의 컴프리헨션
# [표현식 for 변수 in list if 조건식(변수)]

In [ ]:
list_2 = [1,2,3,4]

# 결과 리스트
list_result = []
for num in list_2:
    if num%2==1:
        list_result.append(num*3)

print(list_result)

[3, 9]

In [ ]:
list_result_2 = [num*3 for num in list_2 if num%2==1]
print(list_result_2)

[3, 9]

In [ ]:
list_result_1 = [num*3 for num in list_2]
print(list_result_1)

[3, 6, 9, 12]